<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>    
    <script src="https://kit.fontawesome.com/0b63215334.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="home">
    <header class="header">
        <div class="header__logo">
            <img class="header__logo--img" src="/images/logo-mercado-liebre.svg">
        </div>
        <div class="header__buscador">
            <form action="">
                <div class="header__buscador--box">
                    <input type="text" placeholder="Buscar productos, marcas"/>
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>   
        </div> 
        <div class="header__titulo">
             <p class="header__titulo--p"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="header__nav">            
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tienda Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>            
            <ul>     
                <li><a href="/crearCuenta">Crear Cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/ingresa">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="/misCuentas">Mis cuentas</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>            
        </nav> 
        <div class="header_hamburguesa">
            <button>
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>             
    </header>
    <section class="home__section">
        <img src="/images/img-home-banner.jpg">
    </section>
    <main class="home__main">
        <h2>Basado en tu última visita</h2>
        <section class="home__main__section">
            <article class="home__main__section__article">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>  
                    <p class="precio">
                        $6.770
                    </p>
                    <p class="descuento">
                        40% off
                    </p>
                    <p class="descripcion">
                        Cafetera Moulinex
                    </p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $230.000
                    </p>
                    <p class="descuento">
                        20% off
                    </p>
                    <p class="descripcion">
                        MoulinexMacBook Pro 2019
                    </p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $70.500
                    </p>
                    <p class="descuento">
                        10% off
                    </p>
                    <p class="descripcion">
                        Samsung Galaxy S10
                    </p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $23.200
                    </p>
                    <p class="descuento">
                        5% off
                    </p>
                    <p class="descripcion">
                        SmartTv Samsung 43"70.500
                    </p>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section class="home__main__section">
            <article class="home__main__section__article">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $6.770
                    </p>
                    <p class="descuento">
                        40% off
                    </p>
                    <p class="descripcion">
                        Cafetera Moulinex
                    </p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $230.000
                    </p>
                    <p class="descuento">
                        20% off
                    </p>
                    <p class="descripcion">
                        MoulinexMacBook Pro 2019
                    </p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $70.500
                    </p>
                    <p class="descuento">
                        10% off
                    </p>
                    <p class="descripcion">
                        Samsung Galaxy S10
                    </p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">
                        $23.200
                    </p>
                    <p class="descuento">
                        5% off
                    </p>
                    <p class="descripcion">
                        SmartTv Samsung 43"70.500
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer class="home__footer">
        <ul class="home__footer__ul">
            <li>
                <i class="fa-solid fa-credit-card"></i>
                <p class="titulo">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <i class="fa-solid fa-gift"></i>
                <p class="titulo">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <i class="fa-solid fa-user-shield"></i>
                <p class="titulo">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
            </li>
            <li>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </li>
        </ul>
    </footer>
    </body>
</html>