<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/stylesheet/estilos.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg">
        <p>Buscar producto </p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tienda Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href="/crearCuenta">Crear Cuenta</a></li>
                <li><a href="/ingresa">Ingresá</a></li>
                <li><a href="/misCuentas">Mis cuentas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg">
        <h2 class="negrita">Basado en tu última visita</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <p>
                    $6.770
                </p>
                <p>
                    40% OFF
                </p>
                <p class="negrita">
                    Cafetera Moulinex
                </p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <p>
                    $230.000
               </p>
                <p>
                    20% off
                </p>
                <p class="negrita">
                    MoulinexMacBook Pro 2019
                </p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>
                    $70.500
               </p>
                <p>
                    10% off
                </p>
                <p class="negrita">
                    Samsung Galaxy S10
                </p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <p>
                    $23.200
               </p>
                <p>
                    5% off
                </p>
                <p class="negrita">
                    SmartTv Samsung 43"70.500
                </p>
            </article>
        </section>
        <h2 class="negrita">Ofertas</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <p>
                    $6.770
                </p>
                <p>
                    40% OFF
                </p>
                <p class="negrita">
                    Cafetera Moulinex
                </p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <p>
                    $230.000
               </p>
                <p>
                    20% off
                </p>
                <p class="negrita">
                    MoulinexMacBook Pro 2019
                </p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>
                    $70.500
               </p>
                <p>
                    10% off
                </p>
                <p class="negrita">
                    Samsung Galaxy S10
                </p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <p>
                    $23.200
               </p>
                <p>
                    5% off
                </p>
                <p class="negrita">
                    SmartTv Samsung 43"70.500
                </p>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <li>
                <p class="negrita">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <p class="negrita">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <p class="negrita">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
            </li>
            <li>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </li>
        </ul>
    </footer>
    </body>
</html>