*{
    margin: 0px;
}

body{
    font-family: var(--tipografiaGeneral);
    background-color: var(--grisClaro);
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
    
}