.home{
    
}

.home__section{
    width: 100%;
}

.home__section img{
    width: 100%;
}

.home__main{
    width: 90%;
    margin: 0 auto;
}

.home__main h2{
    font-size: var(--titulares);
    margin: 20px;
}

.home__main__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home__main__section__article{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
}

.home__main__section__article:last-child{
    margin-bottom: 0px;
}


.home__main__section__article img{
    width: 100%;
}

.home__main__section__article div{
    width: 100%;
    border-top: 1px solid var(--grisClaro);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.home__main__section__article div i{
    display: block;
    font-size:var(--descuentos);
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #fff;
    border-radius: 50%;
    color: var(--verde);
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio{
    width: 30%;
    font-size: 13px;
    color: var(--grisOscuro);
}

.descuento{
    width: 70%;
    font-size: 11px;  
    color: var(--verde);
    padding-left: 10px;
}

.descripcion{
    font-size: var(--descripciones);
    font-weight: 300;
    color: var(--grisOscuro);
    margin-top: 20px;
    display: none;
}

.home__footer{
    background-color: #ffffff;
    margin: 0 10px;
    text-align: center;
}

.home__footer__ul{
    padding-inline-start: 0%;
}

.home__footer__ul li{
    
    list-style: none;    
    text-decoration: none;
}

.home__footer__ul li i{
    color: var(--celeste);
    size: 2em;
    margin-bottom: 10px;
}

.titulo{
    font-weight: bold;
}

@media (min-width: 361px){
    .home__main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .home__main__section__article{
        width: 48%;
    }

    .home__main__section__article:nth-child(3){
        margin-bottom: 0px;
    }

    .home__main__section__article:nth-child(4){
        margin-bottom: 0px;
    }
    
    .descripcion{
       display: block ;
    }
}

@media (min-width: 769px){
    .home__main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__main__section__article{
        width: 24%;
    }

    .home__main__section__article{
        margin-bottom: 0px;
    }
    
    .descripcion{
        display: block ;
     }
}
